.App {
  text-align: center;
}
.header {
  background-color: #6441a5;
  display: flex;
  align-items: center;
  max-height: 100px;
}
header > img {
  height: 80%;
  margin-left: 10%;
}
header > p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
  margin-left: 60px;
}
.container {
  margin-left: 25%;
  height: 500px;
  position: relative;
  text-align: center;
  background-color: transparent;
  width: 500px;
}
.memeImg {
  max-height: 500px;
}
.tt {
  text-align: center;
  position: absolute;
  top: 8px;
  left: 100px;
  color: beige;
  background-color: transparent;
}

.bt {
  text-align: center;
  position: absolute;
  top: 200px;
  left: 100px;
  color: white;
  background-color: transparent;
}
